

services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=strona
      - POSTGRES_USER=trawa
      - POSTGRES_PASSWORD=trawa1
    ports:
      - "5432:5432"




  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code/
    ports:
      - "8000:8000"
    depends_on:
      - db